*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif; ;
}
body{
    height: 100vh;
    width: 80%;
    background:linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}

.main-container{
    margin: 120px auto;
    max-width: 800px;
    width: 80%;
    padding: 25px;
    margin-left: 400px;
}
.border{
    background-color: #187;
    padding: 30px;
    padding-bottom: 10px;
   
}
 
h1{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 800;
}

.input-p {
    display: flex;
    width: 100%;
    height: 45px;
    margin: 20px;
    margin-left: 10px; 
}

input{
    width: 900px;
    height: 100%;
    /*margin-left: 100px;*/
    border: none;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
}
button{
color: rgb(119, 108, 108);
width: 220px;
height: 100%;
margin-right: 10px;
border: none;
outline: none;
font-size: 18px;
font-weight: bold;
}

.ToDoList{
   padding: 0;
    margin: 0px; 
}

.ToDoList li{
    padding: 12px 8px 12px 40px;
    list-style: none;
    line-height: 45px;
    background:#eee;
    font-size: 18px;
    position: relative;
   
}

.ToDoList li:nth-child(odd){
    background-color: #f9f9f9;
}

.ToDoList li:hover{
    background:rgb(202, 196, 196);
  
}
.ToDoList .checked{
    background: #888;
    text-decoration:line-through;
}

span{
   position: absolute;
   right: 0px;
   color: #187;
   width: 60px;
   text-align: center;
   cursor: pointer;
   margin-top: 12px;
   margin-right: 15px;
}
span:hover{
  color: rgb(218, 14, 14);


 
display:inline;
}

