@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    background-color: #187;
    position: absolute;
    min-height: 100vh;
    overflow: hidden;
    
}

form{
width: 400px;
margin: 80px;
margin-left:700px;
padding: 80px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: gainsboro;
border-radius: 10px;
}

h1{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-t{
    max-width: 380px;
    width: 350px;
    height: 55%;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-t i{
    text-align: center;
    line-height: 60px;
    color: #acacac;
    font-size: 1.5rem;
    /*color: #187;*/
}

.input-t input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
}

.btn-sub{
    width: 250px;
    height: 48px;
    border: none;
    outline: none;
   border-radius: 48px;
    background-color: green;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding: 20px;
    transition: all 0.5s;
    text-align: center;
}

.btn-sub:hover{
    background-color: #00bfa6;
}

.link-a{
padding: 0;
font-weight: 400;
font-size: 28;
margin-left: auto;
text-align:center;

}

.socail-media{
    padding: 10px 0;
}
.socail-media i{
    margin: 10px;
    line-height: 55px;
    font-size: 2rem;
    /*color: blue;*/
}

#face-plat{
    color:#187BCD;  
}

#google{
    color: #DD571C;
}

#instagram{
    color: #b71f92;
}

#twitter{
    color: #2a9df4;
}