:root{
    --darkestbluegray:#2A547E;
    --darkerbluegray:#366BA1;
    --darkbluegray:#4482C1;
    --bluegray:#7393B3	;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 50px;
    margin-left: 50px;


}

.center h1{
    text-align: center;
}

.center h2{
    text-align: center;
}

body{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    background:var(--bluegray);
    color: white;
}

header{
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 100%;

}


header h1{
    font-weight: 100;
    color: var(--darkestbluegray);
    margin-bottom: 1rem;
    
}

h2{
    text-align: center;

}

#taskForm{
    display: flex;

}

input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#taskInput{
    flex: 1 1 0%;
    background-color: var(--darkerbluegray);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;
}

#taskInput::placeholder{
    color:white;
}


#taskSubmit{
    color: var(--darkestbluegray);
    font-size: 2rem;
    font-weight: 1000;
    cursor:pointer;

}

#taskSubmit:hover{
    opacity: 0.5;
}

#taskSubmit:active{
    opacity:0.7;
}

main{
    flex: 1 1 0%;
    width: 100%;
    margin: 0 auto;
}

.taskList{
    padding: 1rem;
}

.taskList h2{
    font-weight: 500;
    color: var(--darkestbluegray);
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkestbluegray);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text{
    color: white;
}

.task .actions button{
    cursor: pointer;
}

.task .actions button:hover{
    opacity: 0.4;
}

#taskSubmit:active{
    opacity: 0.6;
}